.cardHome {
    margin: 50px 0;
  }
  
  .card.mb-3.mh-100 {
    height: 180px;
  }
  
  .break-word {
    word-break: break-all;
    word-wrap: break-word;
   }
  
   .imgDdetalle {
    text-decoration: none;
    color: black;
  }
  
  .imgDdetalle:hover {
    text-decoration: none;
    color: black;
  }
  
  .leftBoton {
    margin-left: 3px;
  }