.cardDet{
  width:70%;
  height:400px;
  background:transparent;
  position:absolute;
  left:0;
  right:0;
  margin:auto;
  top:0;
  bottom:0;
  border-radius:10px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
}


.card_left{
  width:40%;
  height:400px;
  float:left;
  overflow:hidden;
  border-radius: 10px 0 0 10px;
  background-size: cover;
  background-position: center;
}

.card_right{
  width:60%;
  float:left;
  background:#000000;
  height:400px;
  border-radius:0 10px 10px 0;
  -webkit-border-radius:0 10px 10px 0;
  -moz-border-radius:0 10px 10px 0;
}



.card_right>h1 {
  color:#f5deb3;
  font-weight:400;
  text-align:left;
  font-size:40px;
  margin:30px 0 10px 0;
  padding:0 0 0 40px;
  letter-spacing:1px;
 }

 .card_right__review p {
    color:#838689;   
    padding:0 40px 0 40px;
    letter-spacing:1px;
    line-height:20px;
  
 }

 .botones{
   text-align: center;
 }

 .card_right__button{
  color:#ffda00;
  text-decoration:none; 
  border:2px solid #ffda00;
  padding:10px 10px 10px 40px;
  font-size:12px;
  background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/343086/COMdoWZ.png);
  background-size:12px 12px;
  background-repeat:no-repeat;
  background-position: 7% 50%;
  border-radius:5px;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
 }
 .card_right__button:hover{
  color: #fff;
  background-color: #866e6e66;
  border-color: #866e6e66;
 }
.card_right__details{
  height: 50%;
}
.imagen-carrito{
  overflow:hidden !important
} 

.card-img-top{
  /* width:100%;
  height:100%; */
  object-fit: cover;
}
/*Tarjeta*/
.recipe-card{
  background: #ffffff;
  border-radius: 5px ;
  border:1px solid #d2c67c;
  margin-bottom: 10px;
}

.recipe-card .imagenPlay{
  position:relative;
  object-fit: cover;
  height: 193px;
}

img.card-img-top {
  min-height: 193px;
}
.card-img-top {
  width: 100%;
  height: 15vw;
 
}

.recipe-card  img {
  border-radius: 5px 5px 0 0;
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

.button{
  background: #000000;
  display: inline-block;
  position: absolute;
  top: 80%;
  right: 3%;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  line-height: 4.0625em;
  text-align: center;
  border: 2px solid #ffda00;
}

.icono {
  display: inline-block;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/343086/COMdoWZ.png);
  background-repeat: no-repeat;
  background-size: 18px 17px;
  background-position: 7% 30%;
}

.recipe-card .icon-play {
  width: 16px;
  height: 18px;
}

.card-descripcion{
  padding: 20px;
  background: black;
}
.card-descripcion h2{
 margin: 0;
 font-weight: 300;
 font-size: 20px;
 color: #f5deb3;
}

.card-descripcion h3{
  font-weight: 300;
  color: #838689;
}

.card-descripcion p{
  color: white;
}
/*carrito*/
i.fas.fa-shopping-cart.carrito {
  /* display: block; */
  /* margin: 0 auto 10px auto; */
  /* width: 32px; */
  /* height: 32px; */
  /* margin: 10px auto 0; */
  /* line-height: 32px; */
  /* text-align: center; */
  /* font-size: 20px; */
   color: #444444; 
  /* margin-top: 0; */
  padding-top: 5px;
  position: absolute;
}

span#cart_menu_num {
  position: relative;
  top: -18px;
  /*left: 97%;*/
  background: red;
  width: 20px;
  height: 15px;
  /*border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 8px;*/
  /* margin: -11px; */
  /* right: inherit; */
   left: 22px; 
  /* margin-right: 15px; */
  font-size: 11px;
}

.badge {
  display: inline-block;
  padding: 1px 1px;
  font-size: .75em;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
}

a span {
  color: black;
  font-size: 15px;
  padding: 10px 0 10px 0;
  display: block;
  /* text-transform: uppercase; */
  /* font-family: 'Montserrat'; */
  /* letter-spacing: 1px; */
}

.fa-shopping-cart:before {
  content: "\f07a";
}

@media (min-width: 992px){
  .navbar-expand-lg .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
    margin-right: 25px;
  }
}


@media (max-width: 420px){


.recipe-card img {
  border-radius: 5px 5px 0 0;
  max-width: 100%;
  /* height: auto; */
  vertical-align: bottom;
}
}

@media (max-width: 720px){
  .recipe-card img {
    border-radius: 5px 5px 0 0;
    max-width: 100%;
    vertical-align: bottom;
  }
  .button {
    top: 90%;

}
  }

  @media (max-width: 1195px){
    .recipe-card img {
      border-radius: 5px 5px 0 0;
      max-width: 100%;
      vertical-align: bottom;
    }
    .button {
      top: 90%;
  }
    }

/*Carrito*/
.carView{
  border:none !important;
}

.row.g-0 {
  background: #000000;
}

h6.card-title {
  color: #f5deb3;
}

p.card-text {
  color: #6c757d;
}

.bg-light {
  background-color: #f5ad4b!important;
}

.btn-success {
  background-color: #ef9213;
  border-color: #ef9213;
}
.btn-success:hover {
  background-color: #ef9213;
  border-color: #ef9213;
}

.btn-primary:hover {
  background-color: #ef9213;
  border-color: #ef9213;
}

.btn-primary:focus {
  background-color: #ef9213;
  border-color: #ef9213;
}

.btn-primary {
  background-color: #ef9213;
  border-color: #ef9213;
}

.btn-info {
  background-color: #ef9213;
  border-color: #ef9213;
}
.btn-info:hover {
  background-color: #ef9213;
  border-color: #ef9213;
}

.swal2-styled.swal2-confirm {
  background-color: #ef9213  !important;
}

html{
  background: url("./background.jpg") no-repeat;
  background-size: cover;
  min-height: 100%;
}

body{
  background-color: transparent;
}