html{
  background: url("./background.jpg") no-repeat;
  background-size: cover;
  min-height: 100%;
}

body{
background-color: transparent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
